__pypackages__/
*.log
pip-log.txt
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.crt
*.key
*.csr

.bash_history
.viminfo
.swp
.shadowsocks

.config
.gitconfig
.python_history
.selected_editor


local_test_config.ini
.sqlite_history
