__pypackages__/
*.log
pip-log.txt
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.crt
*.key
*.csr
*.wav

.bash_history
.viminfo
.swp
.shadowsocks
.cache

.config
.gitconfig
.python_history
.selected_editor


local_test_config.ini
.sqlite_history
.cach
.local


usr/local/pproxy/setup/seeed-voicecard

