__pypackages__/
*.log
pip-log.txt
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.crt
*.key
*.csr
*.sig
*.wav
*.priv

.bash_history
.viminfo
.vim/
.swp
.shadowsocks
.cache
.wget-hsts
.links
.links2

.config
.gitconfig
.python_history
.selected_editor


local_test_config.ini
.sqlite_history
.cach
.local


usr/local/pproxy/setup/seeed-voicecard
usr/local/pproxy/users

cloud.json
goog.txt

