Adafruit-Blinka==8.16.1
adafruit-circuitpython-aw9523==1.1.3
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-irremote==4.1.4
adafruit-circuitpython-neopixel==6.2.2
adafruit-circuitpython-pct2075==1.1.17
adafruit-circuitpython-pixelbuf==1.1.8
adafruit-circuitpython-register==1.9.13
adafruit-circuitpython-rgb-display==3.10.19
adafruit-circuitpython-typing==1.7.2
adafruit-circuitpython-veml7700==1.1.17
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.41.0
Adafruit-PureIO==1.1.9
Adafruit-SSD1306==1.6.2
alembic==1.7.4
appdirs==1.4.4
asn1crypto==0.24.0
astroid==2.5.1
asttokens==2.0.4
automationhat==0.2.0
autopep8==1.6.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
banal==1.0.6
bandit==1.7.4
beautifulsoup4==4.9.3
blinker==1.4
blinkt==0.1.2
boto3==1.26.27
botocore==1.29.89
buttonshim==0.0.2
Cap1xxx==0.1.3
certifi==2022.12.7
cffi==1.15.0
cfgv==3.3.1
chardet==3.0.4
click==8.0.3
colorama==0.3.7
colorzero==1.1
cryptography==39.0.2
cupshelpers==1.0
cycler==0.11.0
dataset==1.5.0
dbus-python==1.2.16
decorator==4.4.2
distlib==0.3.3
distro==1.5.0
docutils==0.16
dparse==0.6.2
drumhat==0.1.0
entrypoints==0.3
envirophat==1.0.0
executing==1.2.0
ExplorerHAT==0.4.2
filelock==3.3.2
Flask==2.0.2
Flask-API==3.0.post1
fourletterphat==0.1.0
getmac==0.8.2
gitdb==4.0.9
GitPython==3.1.31
gpiozero==1.6.2
guizero==1.1.1
gyp==0.1
html5lib==1.1
identify==2.3.3
idna==2.6
ifaddr==0.1.7
importlib-metadata==4.8.1
importlib-resources==5.4.0
ipykernel==5.4.3
ipython==8.8.0
ipython_genutils==0.2.0
isort==5.6.4
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
jmespath==1.0.1
jupyter-client==6.1.11
jupyter-core==4.7.1
keyring==17.1.1
kiwisolver==1.3.2
lazy-object-proxy==0.0.0
logilab-common==1.8.1
lxml==4.9.1
Mako==1.2.2
Markdown==3.3.4
MarkupSafe==2.1.2
matplotlib==3.4.3
matplotlib-inline==0.1.6
mccabe==0.6.1
microdotphat==0.2.1
mock==4.0.3
mote==0.0.4
motephat==0.0.3
mypy==0.812
mypy-extensions==0.4.3
netifaces==0.11.0
nodeenv==1.6.0
nudatus==0.0.5
numpy==1.22.3
oauthlib==3.1.0
olefile==0.46
packaging==21.3
pad4pi==1.1.5
paho-mqtt==1.6.1
pantilthat==0.0.7
parso==0.8.1
pbr==5.5.0
pexpect==4.8.0
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
pickleshare==0.7.5
piglow==1.2.5
pigpio==1.78
Pillow==9.3.0
platformdirs==2.4.0
pre-commit==2.15.0
prompt-toolkit==3.0.14
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.4.8
PyAudio==0.2.11
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.20
pycups==2.0.1
pyflakes==2.2.0
pyftdi==0.53.3
pygame==1.9.6
Pygments==2.7.4
PyGObject==3.42.0
pyinotify==0.9.6
PyJWT==2.6.0
pylab==0.0.1
pylint==2.7.2
pyOpenSSL==21.0.0
pyparsing==3.0.4
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyserial==3.5
pysmbc==1.0.23
PySocks==1.7.1
pystemd==0.11.0
python-apt==2.2.1
python-dateutil==2.8.2
python-json-logger==2.0.2
pyusb==1.2.1
pyxdg==0.26
PyYAML==6.0
pyzmq==20.0.0
qrcode==7.3.1
QScintilla==2.11.6
qtconsole==5.0.2
QtPy==1.9.0
rainbowhat==0.1.0
reportlab==3.5.59
requests==2.25.1
requests-oauthlib==1.0.0
responses==0.12.1
roman==2.0.0
rpi-ws281x==4.3.4
RPi.GPIO==0.7.1
RTIMULib==7.2.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
safety==2.3.5
scrollphat==0.0.7
scrollphathd==1.2.1
SecretStorage==2.3.1
semver==2.10.2
Send2Trash==1.6.0b1
sense-emu==1.2
sense-hat==2.4.0
simplejson==3.17.2
six==1.12.0
skywriter==0.0.7
smmap==5.0.0
sn3218==1.2.7
soupsieve==2.2.1
spidev==3.5
SQLAlchemy==1.4.46
ssh-import-id==5.7
stack-data==0.5.1
stevedore==4.0.0
sysv-ipc==1.1.0
thonny==4.0.1
toml==0.10.2
tornado==6.1
touchphat==0.0.1
traitlets==5.0.5
twython==3.8.2
typed-ast==1.4.2
typing-extensions==3.10.0.2
uflash==1.2.4
unicornhathd==0.0.4
upnpclient==1.0.3
urllib3==1.26.5
uWSGI==2.0.20
virtualenv==20.10.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==2.2.3
wrapt==1.12.1
zipp==3.6.0
