Adafruit-BBIO==1.2.0
Adafruit-Blinka==6.15.0
adafruit-circuitpython-aw9523==1.0.2
adafruit-circuitpython-busdevice==5.1.0
adafruit-circuitpython-neopixel==6.2.2
adafruit-circuitpython-pct2075==1.1.10
adafruit-circuitpython-pixelbuf==1.1.0
adafruit-circuitpython-register==1.9.5
adafruit-circuitpython-rgb-display==3.10.8
adafruit-circuitpython-veml7700==1.1.8
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.17.1
Adafruit-PureIO==1.1.9
Adafruit-SSD1306==1.6.2
alembic==1.7.4
asn1crypto==0.24.0
autopep8==1.6.0
backports.entry-points-selectable==1.1.0
banal==1.0.6
blinker==1.4
certifi==2018.8.24
cffi==1.15.0
cfgv==3.3.1
chardet==3.0.4
click==8.0.3
colorama==0.3.7
colorzero==1.1
cryptography==35.0.0
cycler==0.11.0
dataset==1.5.0
distlib==0.3.3
entrypoints==0.3
filelock==3.3.2
Flask==2.0.2
Flask-API==3.0.post1
getmac==0.8.2
gpiozero==1.6.2
identify==2.3.3
idna==2.6
ifaddr==0.1.7
importlib-metadata==4.8.1
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.2
keyring==17.1.1
kiwisolver==1.3.2
lxml==4.6.4
Mako==1.1.5
MarkupSafe==2.0.1
matplotlib==3.4.3
netifaces==0.11.0
nodeenv==1.6.0
numpy==1.21.3
pad4pi==1.1.5
paho-mqtt==1.6.1
Pillow==8.4.0
platformdirs==2.4.0
pre-commit==2.15.0
pyasn1==0.4.8
PyAudio==0.2.11
pycairo==1.20.1
pycodestyle==2.8.0
pycparser==2.20
pyftdi==0.53.3
PyGObject==3.30.4
pyinotify==0.9.6
pylab==0.0.1
pyOpenSSL==21.0.0
pyparsing==3.0.4
pyserial==3.5
PySocks==1.7.1
python-apt==1.8.4.3
python-dateutil==2.8.2
python-json-logger==2.0.2
pyusb==1.2.1
pyxdg==0.26
PyYAML==6.0
qrcode==7.3.1
requests==2.21.0
rpi-ws281x==4.3.1
RPi.GPIO==0.7.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
spidev==3.5
SQLAlchemy==1.4.26
ssh-import-id==5.7
sysv-ipc==1.1.0
toml==0.10.2
typing-extensions==3.10.0.2
upnpclient==1.0.3
urllib3==1.26.7
uWSGI==2.0.20
virtualenv==20.10.0
Werkzeug==2.0.2
zipp==3.6.0
