Adafruit-Blinka
adafruit-circuitpython-aw9523
adafruit-circuitpython-busdevice
adafruit-circuitpython-irremote
adafruit-circuitpython-neopixel
adafruit-circuitpython-pct2075
adafruit-circuitpython-pixelbuf
adafruit-circuitpython-register
adafruit-circuitpython-rgb-display
adafruit-circuitpython-typing
adafruit-circuitpython-veml7700
Adafruit-GPIO
Adafruit-PlatformDetect
Adafruit-PureIO
Adafruit-SSD1306
alembic
appdirs
asn1crypto
astroid
asttokens
automationhat
autopep8
backcall
backports.entry-points-selectable
banal
bandit
beautifulsoup4
blinker
blinkt
boto3
botocore
buttonshim
Cap1xxx
certifi
cffi
cfgv
chardet
click
colorama
colorzero
cryptography
cupshelpers
cycler
dataset
dbus-python
decorator
dill
distlib
distro
docutils
dparse
drumhat
entrypoints
envirophat
executing
ExplorerHAT
filelock
Flask
Flask-API
fourletterphat
getmac
gitdb
GitPython
gpiozero
guizero
html5lib
identify
idna
ifaddr
importlib-metadata
importlib-resources
ipykernel
ipython
ipython_genutils
isort
itsdangerous
jedi
Jinja2
jmespath
jupyter-client
jupyter-core
keyring
kiwisolver
lazy-object-proxy
logilab-common
lxml
Mako
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
microdotphat
mock
mote
motephat
mypy
mypy-extensions
netifaces
nodeenv
nudatus
numpy
oauthlib
olefile
packaging
pad4pi
paho-mqtt
pantilthat
parso
pbr
pexpect
pgzero
phatbeat
pianohat
picamera
pickleshare
piglow
pigpio
Pillow
platformdirs
pre-commit
prompt-toolkit
psutil
pure-eval
pyasn1
PyAudio
pycairo
pycodestyle
pycparser
pycups
pyflakes
pyftdi
pygame
Pygments
PyGObject
pyinotify
PyJWT
pylab
pylint
pyOpenSSL
pyparsing
PyQt5
PyQt5-sip
pyserial
pysmbc
PySocks
pystemd
python-apt
python-dateutil
python-json-logger
pyusb
pyxdg
PyYAML
pyzmq
qrcode
qtconsole
QtPy
rainbowhat
reportlab
requests
requests-oauthlib
responses
roman
rpi-ws281x
RPi.GPIO
RTIMULib
ruamel.yaml
ruamel.yaml.clib
s3transfer
safety
scrollphat
scrollphathd
SecretStorage
semver
Send2Trash
sense-emu
sense-hat
simplejson
six
skywriter
smmap
sn3218
soupsieve
spidev
SQLAlchemy==1.4.26
ssh-import-id
stack-data
stevedore
sysv-ipc
thonny
toml
tomli
tomlkit
tornado
touchphat
traitlets
twython
typed-ast
typing_extensions
uflash
unicornhathd
upnpclient
urllib3
uWSGI
virtualenv
wcwidth
webencodings
Werkzeug
wrapt
zipp
