Package: pproxy-rpi
Version: 1.0.0
Maintainer: WEPN Support <support@we-pn.com>
Architecture: all 
Description: RPi3 python executables for WEPN PProxy
Depends: miniupnpc, iptables, openvpn, python3-pip, python3-flask, libopenjp2-7-dev, libtiff5, i2c-tools, rng-tools, python-apt, dnsutils, bind9, shadowsocks-libev, uwsgi
