[Unit]
Description=WEPN clearnig state at shutdown
DefaultDependencies=no
After=final.target

[Service]
Type=oneshot
User=pproxy
RemainAfterExit=true
ExecStart=/usr/bin/python3 /usr/local/pproxy/system_services/blank_state.py

[Install]
WantedBy=final.target
