[Unit]
Description=WEPN Main Service
After=network-online.target wepn-leds.service
Before=wepn-keypad.service
Wants=network-online.target

[Service]
User=pproxy
ExecStart=/usr/bin/python3 /usr/local/pproxy/run.py
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RuntimeDirectory=pproxy/
WorkingDirectory=/usr/local/pproxy/
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
