[Unit]
Description=WEPN LED Service
Before=wepn-keypad.service wepn-main.service

[Service]
User=root
ExecStart=/usr/bin/python3 /usr/local/pproxy/system_services/led_manager.py
ExecStop=/bin/kill -SIGINT "$MAINPID"
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RuntimeDirectory=pproxy/
WorkingDirectory=/usr/local/pproxy/
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
