[Unit]
Description=WEPN API Service
After=network.target 
Requires=network-online.target

[Service]
User=wepn-api
ExecStart=/usr/local/bin/uwsgi --wsgi-file wsgi.py --mount /=api:app --https 0.0.0.0:5000,wepn-local.crt,wepn-local.key --callable=app --single-interpreter
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=255
Type=notify
RuntimeDirectory=pproxy/
WorkingDirectory=/usr/local/pproxy/local_server/
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
