[Unit]
Description=WEPN clearnig state at shutdown
DefaultDependencies=no
After=final.target

[Service]
SuccessAction= 
RemainAfterExit=yes
Type=oneshot
User=pproxy
ExecStart=/usr/bin/python3 /usr/local/pproxy/system_services/blank_state.py
ExecStop=/usr/bin/python3 /usr/local/pproxy/system_services/blank_state.py

[Install]
WantedBy=final.target
